.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.top-graphic {
    float: right;
    padding: 1em;
}

.top-text {
    text-align: justify;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.middle-text {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.bottom-text {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.index-header {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.index-text a {
    color: #03dac6
}

.index-text a:hover {
    color: #3700b3;
}

.m-custom {
    margin-top: 5em;
}

#fist {
    height: 85%;
    width: 100%;
    border-radius: 20em;
    margin-left: em;
    margin-top: 20%;
}

.coop-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 50%;
}