<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CO-OP</title>
    <link rel="icon" href="/static/imgs/co-op.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static' , filename='css/style.css' )}} />
    <link rel="stylesheet" href={{ url_for('static' , filename='css/description.css' )}} />

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>

    <script src="/static/js/app.js"></script>

</head>

<body>
    <div id="header"></div>
    <div class="description-block mt-5 container">
        <div id="user-def" class="container primary-bg mt-5 p-2">
            <h4>Who are you?</h4>
            <p>Do you have a job? Do you want one? CO-OP is for you. This site is for all working-class Americans. We
                make
                up the majority of Americans and it is time for us to stop letting other people boss us around!</p>
        </div>
        <img id="max-res" src="/static/imgs/max_res_graphic.jpg">
    </div>
    <div class="description-block mt-5 container">
        <img id="worker-coops" src="/static/imgs/Worker-Cooperatives-Logo.png" class="center">
        <div id="user-exp" class="container primary-bg mt-5 me-5 p-2 text-block">
            <h4>Who are we?</h4>
            <p>At CO-OP we hope you will learn more about an alternative to capitalistic coorporations, with one
                powerful
                person sitting at the top making all the decisions about how much of the company profits they are
                willing to
                share with you for your hard work.</p>
        </div>
    </div>
    <div class="description-block mt-5 container">
        <div id="problem" class="container primary-bg mt-5 p-2">
            <h4>What is our goal?</h4>
            <p>Our primary goal is education. We want to inform users of what a worker co-op is. We want to show
                examples of
                successful co-ops and encourage a greater number of these worker-driven entities to exist. We want to
                let
                Americans know that you can absolutely be trusted with your own destiny. We want to help people come to
                the
                realization that you too can work in a democratic work environment. As Americans, we often call
                ourselves
                the "home of the free". We preach of the benifit and the liberty of democrocy, but corporations are
                inherantly anti-democratic.</p>
        </div>
        <img id="sickness" src="/static/imgs/sickness_is_the_system.jpg">
    </div>
    <br>
    <br>
    <div id="actions" class="container primary-bg mt-5 p-2">
        <h4>Why are you here?</h4>
        <p>We encourage users to explore our database of American worker
            co-ops. You can also create an account and share a co-op that
            you know of, or are associated with, that is not yet in our list.</p>
    </div>
</body>

</html>